<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FacebookAdvertiserIDCollectionEnabled
</key>
	<true/>
	<key>FacebookAppID</key>
	<string>1187334622521372</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>a2c7368c8b3f35b1ea81e3901200c14d</string>
	<key>FacebookDisplayName</key>
	<string>Lippa</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
		<string>alipay</string>
		<string>instagram</string>
		<string>wechat</string>
		<string>twitter</string>
		<string>tweetie</string>
		<string>mqq</string>
		<string>fb</string>
		<string>tiktok</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
