<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ssipNadme</key>
		<string>Jacob</string>
		<key>ssipPicdty</key>
		<string>SSIPavator0</string>
		<key>ssipDtfestBriedf</key>
		<string>✨ Curator of memories &amp; treasures. | Vintage finds | Rare books 📚 | Never enough shelves 📦</string>
		<key>ssipAccID</key>
		<string>10</string>
		<key>ssipColletionPic</key>
		<string>SSIpCollec0</string>
		<key>ssipColletionDesc</key>
		<string>This vintage jewelry box is made of premium zinc alloy which is long-lasting, Anti-oxidize,rustless and it will never fade. Soft elegant dard blue velvet on the inside, protects jewelry from dust and scratches. </string>
		<key>ssipPublishPic</key>
		<string>SSIpTiezi0</string>
		<key>ssipPublishDesc</key>
		<string>Unearthed a rare coin today. The thrill of adding it to my collection is indescribable!</string>
	</dict>
	<dict>
		<key>ssipNadme</key>
		<string>Isabelle</string>
		<key>ssipPicdty</key>
		<string>SSIPavator1</string>
		<key>ssipDtfestBriedf</key>
		<string>🏺 Passionate collector | Antique lover | Every item tells a story 🌿</string>
		<key>ssipAccID</key>
		<string>11</string>
		<key>ssipColletionPic</key>
		<string>SSIpCollec1</string>
		<key>ssipColletionDesc</key>
		<string>Dual Sided Vanity Mirror: This European vintage style makeup mirror is elegant and decorate your room.</string>
		<key>ssipPublishPic</key>
		<string>SSIpTiezi1</string>
		<key>ssipPublishDesc</key>
		<string>Just acquired this beautiful art deco vase. Its elegance will surely stand out in my collection.</string>
	</dict>
	<dict>
		<key>ssipNadme</key>
		<string>Jack</string>
		<key>ssipPicdty</key>
		<string>SSIPavator2</string>
		<key>ssipDtfestBriedf</key>
		<string>📦 Building a collection, one rare find at a time. 🖤</string>
		<key>ssipAccID</key>
		<string>12</string>
		<key>ssipColletionPic</key>
		<string>SSIpCollec2</string>
		<key>ssipColletionDesc</key>
		<string>Rare Antique 18th Century French Boulle Bracket Clock By Nicolas Delaunay</string>
		<key>ssipPublishPic</key>
		<string>SSIpTiezi2</string>
		<key>ssipPublishDesc</key>
		<string>Spent hours researching my new antique pocket watch. Each detail reveals a piece of history.</string>
	</dict>
	<dict>
		<key>ssipNadme</key>
		<string>Caroline</string>
		<key>ssipPicdty</key>
		<string>SSIPavator3</string>
		<key>ssipDtfestBriedf</key>
		<string>🌟 A passion for the old and the unusual | Collector of everything fascinating ✨</string>
		<key>ssipAccID</key>
		<string>13</string>
		<key>ssipColletionPic</key>
		<string>SSIpCollec3</string>
		<key>ssipColletionDesc</key>
		<string>18th Century Rococo German Painted and Gilt Wine Cooler in the Form of a Swan</string>
		<key>ssipPublishPic</key>
		<string>SSIpTiezi3</string>
		<key>ssipPublishDesc</key>
		<string>The first item in my vintage camera collection. Can&apos;t wait to explore more of these timeless treasures.</string>
	</dict>
	<dict>
		<key>ssipNadme</key>
		<string>Aiden</string>
		<key>ssipPicdty</key>
		<string>SSIPavator4</string>
		<key>ssipDtfestBriedf</key>
		<string>💎 From rare coins to lost art | Collecting what most can’t see 👀</string>
		<key>ssipAccID</key>
		<string>14</string>
		<key>ssipColletionPic</key>
		<string>SSIpCollec4</string>
		<key>ssipColletionDesc</key>
		<string>This remarkable sculpture, crafted by a master sculptor in the neoclassical style during the 19th century, showcases an exquisitely detailed figure frozen in a moment of grace, with every contour and fold of its drapery meticulously carved, making it a highly prized collectible piece.</string>
		<key>ssipPublishPic</key>
		<string>SSIpTiezi4</string>
		<key>ssipPublishDesc</key>
		<string>Displaying my latest collectible find, a 19th - century oil painting. It&apos;s a masterpiece that brings so much life to my space.</string>
	</dict>
	<dict>
		<key>ssipNadme</key>
		<string>Ella</string>
		<key>ssipPicdty</key>
		<string>SSIPavator5</string>
		<key>ssipDtfestBriedf</key>
		<string>🖼️ Vintage vibes | Curating beauty from the past 📸 | Every piece is a puzzle</string>
		<key>ssipAccID</key>
		<string>15</string>
		<key>ssipColletionPic</key>
		<string>SSIpCollec5</string>
		<key>ssipColletionDesc</key>
		<string>Crafted from pure gold, this antique ring bears the hallmarks of the Edwardian period, with its delicate milgrain edges, a sapphire - studded floral motif, and a design that whispers of a bygone era of luxury.</string>
		<key>ssipPublishPic</key>
		<string>SSIpTiezi5</string>
		<key>ssipPublishDesc</key>
		<string>Snagged a rare Pokémon card today! It&apos;s a dream come true for any collector.</string>
	</dict>
	<dict>
		<key>ssipNadme</key>
		<string>Ethan</string>
		<key>ssipPicdty</key>
		<string>SSIPavator6</string>
		<key>ssipDtfestBriedf</key>
		<string>🏺 Curating history, one find at a time | Collector of timeless pieces 🔎</string>
		<key>ssipAccID</key>
		<string>16</string>
		<key>ssipColletionPic</key>
		<string>SSIpCollec6</string>
		<key>ssipColletionDesc</key>
		<string>This captivating oil painting, adorned with a unique technique of glazed - like coloring, portrays a lifelike human figure. The artist masterfully combines rich, vivid hues and fine brushstrokes, imbuing the portrait with an otherworldly charm and emotional depth that makes it a truly remarkable collectible.</string>
		<key>ssipPublishPic</key>
		<string>SSIpTiezi6</string>
		<key>ssipPublishDesc</key>
		<string>Just added this stunning Art Nouveau brooch to my jewelry collection. Its intricate design is mesmerizing.</string>
	</dict>
	<dict>
		<key>ssipNadme</key>
		<string>Clara</string>
		<key>ssipPicdty</key>
		<string>SSIPavator7</string>
		<key>ssipDtfestBriedf</key>
		<string>📚 Antique books &amp; vintage finds | Exploring the beauty of forgotten things 🌿</string>
		<key>ssipAccID</key>
		<string>17</string>
		<key>ssipColletionPic</key>
		<string>SSIpCollec7</string>
		<key>ssipColletionDesc</key>
		<string>This vintage one - shoulder dress is a captivating piece that showcases a unique patchwork style. Combining various fabrics from different eras, each piece tells a story of its own, while the one - shoulder design adds a touch of elegance and allure. </string>
		<key>ssipPublishPic</key>
		<string>SSIpTiezi7</string>
		<key>ssipPublishDesc</key>
		<string>📚 Antique books &amp; vintage finds | Exploring the beauty of forgotten things 🌿</string>
	</dict>
</array>
</plist>
