<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lorix</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled
</key>
	<true/>
	<key>FacebookAppID</key>
	<string>1306935088297249</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>2defa4dcb5b8214abe0fbd90da918580</string>
	<key>FacebookDisplayName</key>
	<string>Lorix</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
</dict>
</plist>
