<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MIAJID</key>
		<string>100</string>
		<key>MIAJNbbme</key>
		<string>Pippa</string>
		<key>MIAJphotl</key>
		<string>MIAJ_0</string>
		<key>MIAJViocovbr</key>
		<string>MIAJ_fugai0</string>
		<key>MIAJvioeoTexvct</key>
		<string>Experience the magic of transformation in this mind - blowing imitation show!</string>
		<key>MIAJLikeCaunt</key>
		<string>10</string>
		<key>isIAJnormal</key>
		<string>truuuer</string>
		<key>MIAJBrief</key>
		<string>Aspiring actress, loves comedy and improv performances.</string>
	</dict>
	<dict>
		<key>MIAJID</key>
		<string>101</string>
		<key>MIAJNbbme</key>
		<string>Indigo</string>
		<key>MIAJphotl</key>
		<string>MIAJ_1</string>
		<key>MIAJViocovbr</key>
		<string>MIAJ_fugai1</string>
		<key>MIAJvioeoTexvct</key>
		<string>Dive into a world of endless fun and surprises with this epic mimicry show!</string>
		<key>MIAJLikeCaunt</key>
		<string>1</string>
		<key>isIAJnormal</key>
		<string>truuuer</string>
		<key>MIAJBrief</key>
		<string>Voice actor with a flair for character impersonations.</string>
	</dict>
	<dict>
		<key>MIAJID</key>
		<string>102</string>
		<key>MIAJNbbme</key>
		<string>Rowan</string>
		<key>MIAJphotl</key>
		<string>MIAJ_2</string>
		<key>MIAJViocovbr</key>
		<string>MIAJ_fugai2</string>
		<key>MIAJvioeoTexvct</key>
		<string>Let the fun begin as we kick off this awesome imitation show!</string>
		<key>MIAJLikeCaunt</key>
		<string>6</string>
		<key>isIAJnormal</key>
		<string>truuuer</string>
		<key>MIAJBrief</key>
		<string> Passionate about dramatic readings; enjoys sharing life stories.</string>
	</dict>
	<dict>
		<key>MIAJID</key>
		<string>103</string>
		<key>MIAJNbbme</key>
		<string>Noerri</string>
		<key>MIAJphotl</key>
		<string>MIAJ_3</string>
		<key>MIAJViocovbr</key>
		<string>MIAJ_fugai3</string>
		<key>MIAJvioeoTexvct</key>
		<string>Witness the power of artistry and innovation in this extraordinary mimicry show!</string>
		<key>MIAJLikeCaunt</key>
		<string>5</string>
		<key>isIAJnormal</key>
		<string>falllserr</string>
		<key>MIAJBrief</key>
		<string>Enthusiastic performer, exploring various acting styles daily.</string>
	</dict>
	<dict>
		<key>MIAJID</key>
		<string>104</string>
		<key>MIAJNbbme</key>
		<string>Daaais</string>
		<key>MIAJphotl</key>
		<string>MIAJ_4</string>
		<key>MIAJViocovbr</key>
		<string>MIAJ_fugai4</string>
		<key>MIAJvioeoTexvct</key>
		<string>Step into a realm of pure entertainment with this captivating imitation show!</string>
		<key>MIAJLikeCaunt</key>
		<string>1</string>
		<key>isIAJnormal</key>
		<string>falllserr</string>
		<key>MIAJBrief</key>
		<string>Creative mind, inspired by classic films and unique expressions.</string>
	</dict>
	<dict>
		<key>MIAJID</key>
		<string>105</string>
		<key>MIAJNbbme</key>
		<string>Juno</string>
		<key>MIAJphotl</key>
		<string>MIAJ_5</string>
		<key>MIAJViocovbr</key>
		<string>MIAJ_fugai5</string>
		<key>MIAJvioeoTexvct</key>
		<string>Get ready to be entertained like never before in this outstanding mimicry show!</string>
		<key>MIAJLikeCaunt</key>
		<string>2</string>
		<key>isIAJnormal</key>
		<string>falllserr</string>
		<key>MIAJBrief</key>
		<string>Dance enthusiast, blends music with acting for captivating videos.</string>
	</dict>
	<dict>
		<key>MIAJID</key>
		<string>107</string>
		<key>MIAJNbbme</key>
		<string>Sage</string>
		<key>MIAJphotl</key>
		<string>MIAJ_7</string>
		<key>MIAJViocovbr</key>
		<string>MIAJ_fugai7</string>
		<key>MIAJvioeoTexvct</key>
		<string>Brace yourself for a spectacular display of talent in this amazing imitation show!</string>
		<key>MIAJLikeCaunt</key>
		<string>4</string>
		<key>isIAJnormal</key>
		<string>falllserr</string>
		<key>MIAJBrief</key>
		<string>Comedy lover, aims to spread joy through humorous sketches.</string>
	</dict>
</array>
</plist>
