<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_0</string>
		<key>Due_oID</key>
		<string>330</string>
		<key>Due_Nopme</key>
		<string>Ariar</string>
		<key>Due_LiveTItle</key>
		<string>Wild Dance </string>
		<key>Due_Cover</key>
		<string>Due_Cliver_0</string>
		<key>Due_seecount</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_1</string>
		<key>Due_oID</key>
		<string>331</string>
		<key>Due_Nopme</key>
		<string>Bria</string>
		<key>Due_LiveTItle</key>
		<string>Love Dance</string>
		<key>Due_Cover</key>
		<string>Due_Cliver_1</string>
		<key>Due_seecount</key>
		<string>5</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_2</string>
		<key>Due_oID</key>
		<string>332</string>
		<key>Due_Nopme</key>
		<string>Delle</string>
		<key>Due_LiveTItle</key>
		<string>Ballet Bliss</string>
		<key>Due_Cover</key>
		<string>Due_Cliver_2</string>
		<key>Due_seecount</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_3</string>
		<key>Due_oID</key>
		<string>333</string>
		<key>Due_Nopme</key>
		<string>Koria</string>
		<key>Due_LiveTItle</key>
		<string>Step Up</string>
		<key>Due_Cover</key>
		<string>Due_Cliver_3</string>
		<key>Due_seecount</key>
		<string>8</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_4</string>
		<key>Due_oID</key>
		<string>334</string>
		<key>Due_Nopme</key>
		<string>Zivar</string>
		<key>Due_LiveTItle</key>
		<string>Rhythm Room</string>
		<key>Due_Cover</key>
		<string>Due_Cliver_4</string>
		<key>Due_seecount</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_5</string>
		<key>Due_oID</key>
		<string>335</string>
		<key>Due_Nopme</key>
		<string>Thorana</string>
		<key>Due_ComuTItle</key>
		<string>Just discovered a new dance style. So exciting!</string>
		<key>Due_ComuPic</key>
		<string>Thorana_0^Thorana_1^Thorana_2</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_6</string>
		<key>Due_oID</key>
		<string>336</string>
		<key>Due_Nopme</key>
		<string>Marisor</string>
		<key>Due_ComuTItle</key>
		<string>Watching amazing dancers in the community is inspiring.</string>
		<key>Due_ComuPic</key>
		<string>Marisor_0^Marisor_1</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_7</string>
		<key>Due_oID</key>
		<string>337</string>
		<key>Due_Nopme</key>
		<string>Leona</string>
		<key>Due_ComuTItle</key>
		<string>Learned a new move. Can&apos;t wait to show it off.</string>
		<key>Due_ComuPic</key>
		<string>Leona_0^Leona_1^Leona_2</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_8</string>
		<key>Due_oID</key>
		<string>338</string>
		<key>Due_Nopme</key>
		<string>Elisei</string>
		<key>Due_ComuTItle</key>
		<string>In love with the energy of dance.</string>
		<key>Due_ComuPic</key>
		<string>Elisei_0^Elisei_1^Elisei_2</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_9</string>
		<key>Due_oID</key>
		<string>339</string>
		<key>Due_Nopme</key>
		<string>Zellar</string>
		<key>Due_ComuTItle</key>
		<string>Dance makes every day better.</string>
		<key>Due_ComuPic</key>
		<string>Zellar_0^Zellar_1^Zellar_2</string>
	</dict>
	<dict>
		<key>Due_avmter</key>
		<string>Due_feiber_10</string>
		<key>Due_oID</key>
		<string>340</string>
		<key>Due_Nopme</key>
		<string>Riva</string>
		<key>Due_ComuTItle</key>
		<string>Can&apos;t stop dancing. It&apos;s addictive.</string>
		<key>Due_ComuPic</key>
		<string>Riva_0^Riva_1^Riva_2</string>
	</dict>
</array>
</plist>
