<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>toyOwner</key>
		<string>Dakota</string>
		<key>toyOwnerID</key>
		<string>vIBDdkl8Mrz6.png</string>
		<key>toyIntroduction</key>
		<string>🤩My latest Toye find is pure fire! 🔥 #ToyeTrends</string>
		<key>toyImage</key>
		<string>puHYVTvtD1By.jpeg</string>
		<key>toyCreateAt</key>
		<string>2024.12.28</string>
	</dict>
	<dict>
		<key>toyOwner</key>
		<string>Ezra</string>
		<key>toyOwnerID</key>
		<string>f5nMzSGJ9gta.png</string>
		<key>toyIntroduction</key>
		<string>😎Just unboxed a funky Toye piece. It’s a vibe! 💥 #FunkyToye</string>
		<key>toyImage</key>
		<string>o9RFUxD9BgML.jpeg</string>
		<key>toyCreateAt</key>
		<string>2024.12.25</string>
	</dict>
	<dict>
		<key>toyOwner</key>
		<string>Harper</string>
		<key>toyOwnerID</key>
		<string>qa6m7OWbMZZV.png</string>
		<key>toyIntroduction</key>
		<string>🌟Toye toys are my daily dose of fun. Can’t get enough! 😜 #ToyeLove</string>
		<key>toyImage</key>
		<string>iQl6bYDklOJG.jpeg</string>
		<key>toyCreateAt</key>
		<string>2024.12.12</string>
	</dict>
	<dict>
		<key>toyOwner</key>
		<string>Indigo</string>
		<key>toyOwnerID</key>
		<string>ck2VnbbRhyTG.png</string>
		<key>toyIntroduction</key>
		<string>🚀Joined the Cool Toye Alliance. Let the adventures begin! 🌈 #ToyeCommunity</string>
		<key>toyImage</key>
		<string>OUODZnDCl9ge.jpeg</string>
		<key>toyCreateAt</key>
		<string>2024.12.18</string>
	</dict>
	<dict>
		<key>toyOwner</key>
		<string>Kai</string>
		<key>toyOwnerID</key>
		<string>PV7Gaje3OBiv.png</string>
		<key>toyIntroduction</key>
		<string>💥This Colorful Toye toy brightens up my day. So rad! 😎 #ColorfulToys</string>
		<key>toyImage</key>
		<string>phoP2KJungZN.jpeg</string>
		<key>toyCreateAt</key>
		<string>2024.12.10</string>
	</dict>
	<dict>
		<key>toyOwner</key>
		<string>Linden</string>
		<key>toyOwnerID</key>
		<string>JhX5afzSK0XQ.png</string>
		<key>toyIntroduction</key>
		<string>🤗Snagged a rare one from the Glorious Toye Collection. Feeling lucky! 🍀 #GloriousToye</string>
		<key>toyImage</key>
		<string>vjAyv4d4jzyF.jpeg</string>
		<key>toyCreateAt</key>
		<string>2024.12.19</string>
	</dict>
	<dict>
		<key>toyOwner</key>
		<string>Noel</string>
		<key>toyOwnerID</key>
		<string>PzyF2fwlo2bg.png</string>
		<key>toyIntroduction</key>
		<string>😏Playing with my Playful Toye Tribe toys. Good times! 🎉 #PlayfulToys</string>
		<key>toyImage</key>
		<string>V9bNgw6uhuJi.jpg</string>
		<key>toyCreateAt</key>
		<string>2024.12.21</string>
	</dict>
	<dict>
		<key>toyOwner</key>
		<string>Owen</string>
		<key>toyOwnerID</key>
		<string>0R7Kj7x1Hdks.png</string>
		<key>toyIntroduction</key>
		<string>🌈The Star-Trendy Toye Community never fails to amaze. New gems daily! 💎 #StarToye</string>
		<key>toyImage</key>
		<string>S2QHflVoIij3.jpg</string>
		<key>toyCreateAt</key>
		<string>2024.12.23</string>
	</dict>
	<dict>
		<key>toyOwner</key>
		<string>River</string>
		<key>toyOwnerID</key>
		<string>pE33NpkYH3gD.png</string>
		<key>toyIntroduction</key>
		<string>💫My Toye Trendy Toy World just got cooler. Who’s with me? 🤝 #ToyWorld</string>
		<key>toyImage</key>
		<string>M20HQ6zPR9M8.jpeg</string>
		<key>toyCreateAt</key>
		<string>2024.12.25</string>
		<key>toyGems</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>toyOwner</key>
		<string>Shawn</string>
		<key>toyOwnerID</key>
		<string>7OHZ60TzLrAp.png</string>
		<key>toyIntroduction</key>
		<string>😍Found my happy place in the Intuitive Toye Toy Union. Perfect match! 🧸 #IntuitiveToye</string>
		<key>toyImage</key>
		<string>23DerqYMLP2H.jpeg</string>
		<key>toyCreateAt</key>
		<string>2024.12.29</string>
	</dict>
</array>
</plist>
